<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>GraderAide</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    .clickable {
      cursor: pointer;
    }

    .removeButton {
      color: red;
    }
    
  </style>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13"></script>
  <!-- TODO -->
  <script src="https://unpkg.com/axios@0.17.1/dist/axios.min.js"></script>
</head>

<body>
  <div class="container" id="app">
    <div class="row">

      <!-- sidebar -->
      <div class="col-2">

        <h4>Assignments</h4>
        <ul>
          <div v-for="(assn, i) of assignments">
            <li class="clickable" @click="selectAssignment(assn)">{{assn}}</li>
          </div>
        </ul>

      </div>

      <!-- main content area -->
      <div class="col-10">

        <!-- assignment title -->
        <h1 contenteditable="true" ref="name" @blur="requestUpdate('name')">{{name}}</h1>
        <!-- TODO -->
        <h4 contenteditable="true" ref="total_Pts" @blur="requestUpdate('total_Pts')">{{totalPts}}</h4>
        <div v-if="!plusFormActive" @click="plusFormActive=true"><img src="img/plusGreen.svg" class="clickable" title="Open Add Fields"></div>
        <br>

        <!-- rules rows -->
        <div v-for="(rule, i) of rules" :key="rule.desc">
          <!-- TODO -->
          <div>
            <input type="checkbox" name="rubric" :value="rule" v-model="selectedRules"> 
            <span v-if="!isEditing">{{rule.pts | positive}} {{rule.desc}}</span>
            
            <!-- edit rules -->
            <input type="text" name="points" class="col-xl-1" v-model="rule.pts" :value="rule.pts" v-if="isEditing" @keyup.enter="editRule">
            <input type="text" name="desc" class="col-xl-10" v-model="rule.desc" :value="rule.desc" v-if="isEditing" @keyup.enter="editRule">
            
            <img src="img/pencilBlack.svg" class="clickable float-right" @click="enableEdit(i)" title="Edit">
            <img src="img/xRed.svg" class="clickable float-right removeButton" @click="removeRule(i)" title="Remove">
          </div>
        </div>

        <!-- add row -->
        <div v-if="plusFormActive">
          <input type="text" class="col-xl-1" v-model.number.lazy="addNum" @keyup.enter="addRule()" title="pts (positive or negative)">
          <input type="text" class="col-xl-10" v-model.trim.lazy="addDesc" @keyup.enter="addRule()" placeholder="Type your new rule here ...">
          <img src="img/plusGreen.svg" class="clickable float-right" @click="addRule()" title="Add"><br>
        </div>

        <!-- output rows -->
        <div v-if="actualPts < totalPts" class="alert alert-warning" role="alert">
          <span v-for="selectedRule of selectedRules">{{selectedRule.pts | positive}} {{selectedRule.desc}}<br></span>
          <hr> {{actualPts}}
        </div>
        <div v-else class="alert alert-success" role="alert">
          <span v-for="selectedRule of selectedRules">{{selectedRule.pts | positive}} {{selectedRule.desc}}<br></span>
          <b>Good Job</b>
          <hr> {{actualPts}}
          <br>
        </div>

        <!-- comment area -->
        <div>
          <h2>Comments</h2>
          <span v-for="(comment, index) in comments" contenteditable="true" ref="commentText" @blur="requestUpdate('commentText')">
					{{comment.text}}
					<br>
				</span>
          <!-- new comment -->
          <div>
            <textarea style="width: 100%" id="add_comment" placeholder="Add a comment..." @keyup.enter="addComment"></textarea>
            <br>
          </div>
        </div>

        <!-- action buttons -->
        <div>
          <!-- clear comments -->
          <button class="btn btn-warning" @click="clearComments">Clear comments</button>
          <!-- save assignment -->
          <button class="btn btn-info" @click="saveToServer">Save</button>
        </div>



      </div>
    </div>
  </div>

  <script>
    /* global axios */
    /* global Vue */
    let app = new Vue({
      el: '#app',
      data: { //persisted data
        assignments: [],
        name: null,
        totalPts: 0,
        rules: [],
        comments: [],
        //temporary gui state
        selectedRules: [],
        addNum: null,
        addDesc: null,
        plusFormActive: false,
        isEditing: false
      },
      filters: {
        positive: function(num) { //TODO make all caps
          if (num > 0) return `+${num}`;
          return num;
        }
      },
      computed: {
        actualPts: function() { //add up all selected pts and subtract from totalPts
          return this.selectedRules.reduce((acc, el) => parseInt(acc) + parseInt(el.pts), this.totalPts);
        }
      },
      methods: {
        removeRule: function(i) {
          this.rules.splice(i, 1);
        },
        addRule: function() {
          if (!this.addNum) return;
          if (!this.addDesc) return;
          this.rules.push({ pts: this.addNum, desc: this.addDesc, edit: false });
          this.addNum = null;
          this.addDesc = null;
          this.plusFormActive = false;
        },
        addComment: function(e) {
          let value = e.target.value;
          this.comments.push({ user: 'admin', text: value });
          e.target.value = '';
        },
        requestUpdate: function(ref) {
          this.name = this.$refs['name'].innerText;
          this.totalPts = this.$refs['total_Pts'].innerText;
          this.comments.text = this.$refs['commentText'].innerText;
        },
        editRule: function() {
          this.isEditing = false;
        },
        enableEdit: function(i) {
          this.isEditing = true;
        },
        clearComments: function() {
          this.comments = [];
        },
        selectAssignment: function(assn) {
          let self = this;
          // Get Grader-Aide assignment from server -- THIS SHOULD ONLY BE CALLED ONCE USER HAS SELECTED AN ASSIGNMENT FROM THE MENU. FUNCTION TO COME.
          axios.get(`/api/v1/assignments/${assn}`)
            .then(function(response) {
              self.name = assn; // response.data.name; // won't need to set this if it's already set from user selecting an assignment
              self.totalPts = response.data.totalPts;
              self.rules = response.data.rules;
              self.selectedRules = response.data.selectedRules;
              if (response.data.comments != undefined) {
                self.comments = response.data.comments;
              }
            })
            .catch(function(error) {
              console.log(error);
            });
        },
        saveToServer: function() {
          let self = this;

          // Save/update Grader-Aide assignment to server
          axios.post(`/api/v1/assignments/${this.name}`, {
              // sent object JSON
              name: this.name,
              totalPts: this.totalPts,
              rules: this.rules,
              selectedRules: this.selectedRules,
              comments: this.comments
            }) // post parameter is name of assignment to be saved
            .then(function(response) {
              console.log(response);
              self.refreshAssignments();
            })
            .catch(function(error) {
              console.log(error);
            });

        },
        refreshAssignments: function() {
          let self = this;
          // Refresh assignments list
          axios.get('/api/v1/assignments')
            .then(function(response) {
              self.assignments = response.data.assignments;
            })
            .catch(function(error) {
              console.log(error);
            });
        }
      },
      created: function() {
        let self = this;

        self.refreshAssignments();
      }
    })

    //CLASS MILESTONE
    //REFACTOR prettify the text boxes, can we use regEx to filter what's allowed
    //REFACTOR the two output <div> sections into one
    //FIXME if rule is checked, and then deleted, it's still listed in summary
    //REFACTOR pop up the add line

    //FUTURE
    //TODO partial credit
    //TODO late penalty percentage
    //TODO tie to Canvas API

    //TEAM MILESTONE
    //TODO save (storing the json) via axios (COMPLETE)
    //TODO recover/restore deleted rule in memory stack
    //TODO edit rule 
    //TODO edit name (COMPLETE)
    //TODO edit totalPts (COMPLETE)
    //TODO list of comments (no points up or down) (COMPLETE)
    //TODO edit list of comments (COMPLETE)
    //TODO delete list of comments/recovering (DELETE COMPLETE)
    //TODO create a new assignment
  </script>
</body>

</html>
