body {
  background: #275D38; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #275D38, #8DC26F);
  background: -moz-linear-gradient(right, #275D38, #8DC26F);
  background: -o-linear-gradient(right, #275D38, #8DC26F);
  background: linear-gradient(to left, #275D38, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
}

.logo {
    color: #fff;
}

.div-center {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    /* display: table; */
}

.content {
    width: 400px;
    height: 140px;
    overflow: auto;
    padding: 2em 2em 1em 2em;
    background-color: #fff;
    box-shadow: 1px 1px 3px #444;
    /* border-bottom: 2px solid #ccc; */
    display: table-cell;
    /* vertical-align: middle; */
}